/*Global*/
html {
  width: 100%;
  font-size: 16px;
}

body {
  font-family: 'Assistant', sans-serif;
  line-height: 1.2em;
}

.post-category {
  display: block;
}
.post-category a {
  color: grey;
  text-transform: uppercase;
  text-decoration: none;
}
h2 {
  font-size: 2em;
  line-height: 1.5em;
  padding: 0.3em 0;
}

a {
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
  line-height: 1.2em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/*Header*/
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: ivory;
  width: 150px;
  height: 70px;
  z-index: 20;
}
.logo img {
  width: 130px;
}

.banner {
  display: flex;
  flex-direction: column;
  background-image: url(../img/IMG_2590.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 500px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;;
  padding-right: 10%;
  border-bottom: 1px solid white;
  max-width: 100%;
  padding-right: 10em;
}
nav {
  display: flex;
}
nav ul span {
    margin: 0 2em;
    color: white;
  }

.banner-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 1rem 0;
}
.banner-box-content {
  background-color: white;
  width: 40%;
  padding: 2rem;
}

/*Main Content*/
.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em auto;
}

.post-archive {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}
.post-entry {
  width: 30%;
  margin: 1.5rem 1rem;
}

.highlight {
  display: flex;
  align-items: center;
  padding: 0 10%;
  height: 200px;
  background-color: grey;
}
.highlight-text {
  margin: 0 1.5rem;
  color: white;
  width: 70%;
}
.highlight .button {
  width: 30%;
  text-align: center;
}
.highlight .btn {
  border: 1px solid white;
  padding: 1rem;
  color: #fff;
}
.highlight .btn:hover {
  border: 1px solid black;
  color: #000;
}

/*Footer*/
footer {
  background-color: #000;
  padding: 1rem 1.5rem;
}
footer p {
  color: #fff;
}
.widget-area {
  display: flex;
  padding: 1rem 0;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.widget-1 {
  max-width: 48%;
}
.widget-2 {
  max-width: 24%;
}
.widget-3 {
  max-width: 24%;
}
.widget-2 .social-links {
  width: 100%;
}
.social-links a {
  padding: 0 0.8rem;
}

.copyright {
  padding-top: 1rem;
}
.copyright p{
  color: grey;
}
